:local {
  .container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 64px);
    // overflow: hidden !important;
    padding-top: 20px;
    padding-left: 20px;
  }

  .container h2 {
    font-size: 5rem;
  }

  .container a {
    font-size: 1.4rem;
  }

  .container ol {
    padding-left: 20px;
  }
}
